body {
    font-family: monospace;
    font-size: 12pt;
    margin-left: 1em;
}

.result {
    white-space: nowrap;
}

.linenodiv { margin-right: 1em; }
.source .hll { background-color: #fca; border: 1px solid #7f7; }
.source { background: #ffffff; }
.source .c { color: #008000 } /* Comment */
.source .err { border: 1px solid #FF0000 } /* Error */
.source .k { color: #0000ff } /* Keyword */
.source .ch { color: #008000 } /* Comment.Hashbang */
.source .cm { color: #008000 } /* Comment.Multiline */
.source .cp { color: #0000ff } /* Comment.Preproc */
.source .cpf { color: #008000 } /* Comment.PreprocFile */
.source .c1 { color: #008000 } /* Comment.Single */
.source .cs { color: #008000 } /* Comment.Special */
.source .ge { font-style: italic } /* Generic.Emph */
.source .gh { font-weight: bold } /* Generic.Heading */
.source .gp { font-weight: bold } /* Generic.Prompt */
.source .gs { font-weight: bold } /* Generic.Strong */
.source .gu { font-weight: bold } /* Generic.Subheading */
.source .kc { color: #0000ff } /* Keyword.Constant */
.source .kd { color: #0000ff } /* Keyword.Declaration */
.source .kn { color: #0000ff } /* Keyword.Namespace */
.source .kp { color: #0000ff } /* Keyword.Pseudo */
.source .kr { color: #0000ff } /* Keyword.Reserved */
.source .kt { color: #2b91af } /* Keyword.Type */
.source .s { color: #a31515 } /* Literal.String */
.source .nc { color: #2b91af } /* Name.Class */
.source .ow { color: #0000ff } /* Operator.Word */
.source .sa { color: #a31515 } /* Literal.String.Affix */
.source .sb { color: #a31515 } /* Literal.String.Backtick */
.source .sc { color: #a31515 } /* Literal.String.Char */
.source .dl { color: #a31515 } /* Literal.String.Delimiter */
.source .sd { color: #a31515 } /* Literal.String.Doc */
.source .s2 { color: #a31515 } /* Literal.String.Double */
.source .se { color: #a31515 } /* Literal.String.Escape */
.source .sh { color: #a31515 } /* Literal.String.Heredoc */
.source .si { color: #a31515 } /* Literal.String.Interpol */
.source .sx { color: #a31515 } /* Literal.String.Other */
.source .sr { color: #a31515 } /* Literal.String.Regex */
.source .s1 { color: #a31515 } /* Literal.String.Single */
.source .ss { color: #a31515 } /* Literal.String.Symbol */


@media (prefers-color-scheme: dark) {
body, .source { background: #272822; color: #f8f8f2 }
a:link { color: rgb(98, 173, 237); }
a:visited { color: rgb(173, 98, 237); }
.source .hll { background-color: #49483e }
.source .c { color: #75715e } /* Comment */
.source .err { color: #960050; background-color: #1e0010 } /* Error */
.source .k { color: #66d9ef } /* Keyword */
.source .l { color: #ae81ff } /* Literal */
.source .n { color: #f8f8f2 } /* Name */
.source .o { color: #f92672 } /* Operator */
.source .p { color: #f8f8f2 } /* Punctuation */
.source .ch { color: #75715e } /* Comment.Hashbang */
.source .cm { color: #75715e } /* Comment.Multiline */
.source .cp { color: #75715e } /* Comment.Preproc */
.source .cpf { color: #75715e } /* Comment.PreprocFile */
.source .c1 { color: #75715e } /* Comment.Single */
.source .cs { color: #75715e } /* Comment.Special */
.source .gd { color: #f92672 } /* Generic.Deleted */
.source .ge { font-style: italic } /* Generic.Emph */
.source .gi { color: #a6e22e } /* Generic.Inserted */
.source .go { color: #66d9ef } /* Generic.Output */
.source .gp { color: #f92672; font-weight: bold } /* Generic.Prompt */
.source .gs { font-weight: bold } /* Generic.Strong */
.source .gu { color: #75715e } /* Generic.Subheading */
.source .kc { color: #66d9ef } /* Keyword.Constant */
.source .kd { color: #66d9ef } /* Keyword.Declaration */
.source .kn { color: #f92672 } /* Keyword.Namespace */
.source .kp { color: #66d9ef } /* Keyword.Pseudo */
.source .kr { color: #66d9ef } /* Keyword.Reserved */
.source .kt { color: #66d9ef } /* Keyword.Type */
.source .ld { color: #e6db74 } /* Literal.Date */
.source .m { color: #ae81ff } /* Literal.Number */
.source .s { color: #e6db74 } /* Literal.String */
.source .na { color: #a6e22e } /* Name.Attribute */
.source .nb { color: #f8f8f2 } /* Name.Builtin */
.source .nc { color: #a6e22e } /* Name.Class */
.source .no { color: #66d9ef } /* Name.Constant */
.source .nd { color: #a6e22e } /* Name.Decorator */
.source .ni { color: #f8f8f2 } /* Name.Entity */
.source .ne { color: #a6e22e } /* Name.Exception */
.source .nf { color: #a6e22e } /* Name.Function */
.source .nl { color: #f8f8f2 } /* Name.Label */
.source .nn { color: #f8f8f2 } /* Name.Namespace */
.source .nx { color: #a6e22e } /* Name.Other */
.source .py { color: #f8f8f2 } /* Name.Property */
.source .nt { color: #f92672 } /* Name.Tag */
.source .nv { color: #f8f8f2 } /* Name.Variable */
.source .ow { color: #f92672 } /* Operator.Word */
.source .w { color: #f8f8f2 } /* Text.Whitespace */
.source .mb { color: #ae81ff } /* Literal.Number.Bin */
.source .mf { color: #ae81ff } /* Literal.Number.Float */
.source .mh { color: #ae81ff } /* Literal.Number.Hex */
.source .mi { color: #ae81ff } /* Literal.Number.Integer */
.source .mo { color: #ae81ff } /* Literal.Number.Oct */
.source .sa { color: #e6db74 } /* Literal.String.Affix */
.source .sb { color: #e6db74 } /* Literal.String.Backtick */
.source .sc { color: #e6db74 } /* Literal.String.Char */
.source .dl { color: #e6db74 } /* Literal.String.Delimiter */
.source .sd { color: #e6db74 } /* Literal.String.Doc */
.source .s2 { color: #e6db74 } /* Literal.String.Double */
.source .se { color: #ae81ff } /* Literal.String.Escape */
.source .sh { color: #e6db74 } /* Literal.String.Heredoc */
.source .si { color: #e6db74 } /* Literal.String.Interpol */
.source .sx { color: #e6db74 } /* Literal.String.Other */
.source .sr { color: #e6db74 } /* Literal.String.Regex */
.source .s1 { color: #e6db74 } /* Literal.String.Single */
.source .ss { color: #e6db74 } /* Literal.String.Symbol */
.source .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.source .fm { color: #a6e22e } /* Name.Function.Magic */
.source .vc { color: #f8f8f2 } /* Name.Variable.Class */
.source .vg { color: #f8f8f2 } /* Name.Variable.Global */
.source .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.source .vm { color: #f8f8f2 } /* Name.Variable.Magic */
.source .il { color: #ae81ff } /* Literal.Number.Integer.Long */
}
